html{
    background: url("../assets/bg.png") no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color : white;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.link-container{
    margin-top : 40px;
    font-size: 25px;
    color: white;
    display: flex;
    gap : 40px;
}

a{
    text-decoration: none;

}
h1{
    margin-bottom: 100px;
}
a:visited{
    color : white;
    text-decoration: none;

}

.imageholder{
    width:100%;
    min-height: 500px;
    background-image: url("../assets/image.png");
    background-repeat: no-repeat;
    background-size: contain; /* This ensures the image does not cover the whole div */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
}
h4{
    font-size: 50px;
    color: #b5c6a8;
}
strong{
    font-size: 20px;
    color: #b5c6a8;
}
.text-container{
    padding-right: 100px;
    padding-left: 100px;
}

footer {
    display: block;
    font-size: 15px;
    color: #b5c6a8;

  }
  .footer {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  /* Links */
  .footer a {
    font-weight: 400;
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.25rem;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out 0s;
    color: #b5c6a8;
  }
  .footer a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: whitesmoke;
  }
  .abn {
    white-space: nowrap;
  }
  
  /* add border to bottom of message section */
  .message-container {
    margin: 0 auto;
    border-bottom: 1px solid #c5cbd1;
  }
  
  .message-contents {
    text-align: left;
    padding: 1rem 1.5rem;
  }
  
  /* Container for the links and copyright */
  .legal-container {
    margin: 0 auto;
  }
  
  .legal-contents {
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
  }
  
  .legal-contents ul {
    gap: 1rem;
    flex-direction: column;
    display: flex;
    margin: 0;
    border-bottom: 1px solid #c5cbd1;
    padding: 1.5rem;
    list-style: none;
    text-align: left;
  }
  
  .legal-contents p {
    margin: 0;
    padding: 1rem 1.5rem;
  }
  
  /* Small Tablet */
  @media screen and (min-width: 600px) {
    .legal-contents ul {
      gap: 2rem;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
    }
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) {
    .legal-contents ul {
      gap: 2rem;
      flex-direction: row;
      -webkit-box-pack: start;
      justify-content: flex-start;
    }
  }
  
  /* Large Tablet */
  @media screen and (min-width: 1024px) {
    .legal-contents {
      flex-flow: row;
      padding: 1.5rem;
    }
    .legal-contents ul {
      border-bottom: 0;
      padding: 0;
    }
    .legal-container p {
      padding: 0;
      text-align: right;
    }
  }
  
  /* Desktops and Laptops */
  @media screen and (min-width: 1200px) {
    .message-contents,
    .legal-contents {
      margin: 0 auto;
      max-width: 75rem; /* 1200px */
    }
  }


